<footer class="footer">
  <div class="container">
    <ul class="list-inline">
      <li>
        Author&nbsp;<span class="icon-blivesta icon-sm icon-circle"></span>&nbsp;
        <a href="{{ site.author_url }}">{{ site.author }}</a>
      </li>
    </ul>
    
    <ul class="list-inline">
      <li>Other projects</li>
      <li>·</li>
      <li><a href="/animsition">Animsition</a></li>
      <li>·</li>
      <li><a href="/drawer">Drawer</a></li>
      <li>·</li>
      <li><a href="/rippler">Rippler</a></li>
      <li>·</li>
      <li><a href="/oblurlay">Oblurlay</a></li>
      <li>·</li>
      <li><a href="/chaffle">Chaffle</a></li>
    </ul>
  </div>
</footer>

  <!-- Vendor js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ page.base_url }}js/conv.js"></script>

